.primary-button {
  background-color: #6495ad;
  min-height: 40px;
  min-width: 150px;
  border-radius: 999px;
  border: none;
  color: aliceblue;
  cursor: pointer;
  transition: all ease-in-out 300ms;
  font-weight: 600;
}

.primary-button:hover {
    background-color: #4e7487;
}
