.secondary-button {
  background-color: #f8fdff;
  min-height: 40px;
  min-width: 150px;
  border-radius: 999px;
  border: 2px solid #6495ad;
  color: rgb(70, 70, 70);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.secondary-button:hover {
    background-color: #e0f6ff;
}
