.select {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select__input {
  min-height: 40px;
  min-width: 80px;
  border: none;
  border-radius: 999px;
  outline: none;
  padding: 0px 12px;
  font-size: medium;
  cursor: pointer;
}
.select__helper-text{
  color: gray;
}
